# Секретный ключ для JWT (можно сгенерировать любой случайный)
SECRET_KEY=your_super_secret_jwt_key_here
ALGORITHM=HS256
CONFIRM_TOKEN_EXPIRE_DAYS=30

# Настройки почты (человеку нужно будет вставить свои данные)
SENDER_EMAIL=your_email@gmail.com
SENDER_PASS="your_google_app_password_here"

# Ссылка для подтверждения (дефолтная для локальной разработки)
CONFIRMATION_LINK=http://localhost:8080/user/confirm/

#DB
MONGO_URI=mongodb+srv://user:password@cluster0.../dbname?retryWrites=true&w=majority

BAZA_GAI_API_KEY=1234afbab123lafblabfalfabgadg232